.team__container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .team__main-text {
    color: #0c0531;
    text-align: center;
    font-family: Lexend, sans-serif;
    font-size: 7vh;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;

    h2 {
      margin: 9vh 0;
    }
  }

  .swiper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
}
