.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  .button__open {
    border: none;
    color: white;
    padding: 1.2vh 1.3vw;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3vw;

    @media screen and (max-width: 700px) {
      font-size: 2vh;
      padding: 10px 20px;
    }
  }
}

@media screen and (max-width: 700px) {
  .slider-arrow {
    opacity: 0.2;
  }

  .slider-arrow:hover {
    opacity: 1;
  }
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 2vh;
  box-shadow: 0 0 10px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  min-width: 30vw;
  gap: 2vh;

  @media screen and (max-width: 700px) {
    justify-content: space-between;
  }

  h3,
  p {
    margin: 0;
  }

  h3 {
    font-size: 2.2vh;
  }

  p {
    font-size: 1.8vh;

    @media screen and (max-width: 700px) {
      font-size: 2vh;
    }
  }
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__back {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  transform: translate(180deg);
  gap: 10vh;

  .card__description {
    text-align: justify;
    color: #686363;
    font-family: Noto Sans, sans-serif;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: 20vh;

    @media screen and (max-width: 700px) {
      font-size: 1.9vh;
    }
  }

  .card__back-header {
    display: flex;
    align-items: center;
    justify-content: center;

    .card__image_back {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 700px) {
        height: 50px;
        width: 50px;
      }
    }

    svg {
      font-size: 20px;
    }

    svg:hover {
      cursor: pointer;
      padding: 7px;
      border-radius: 20px;
      background-color: #ccc;
    }
  }
}

.card__front {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;

  .card__text_back {
    display: none;
  }
}

.image {
  width: 15vw;
  height: 20vh;
  padding: 0.3vh;
  background: #fff;
  border-radius: 50%;

  @media screen and (max-width: 700px) {
    width: 50%;
    height: 100%;
    display: flex;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

h3 {
  text-align: center;
}
