.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  .button__open {
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
  }
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 250px;
  min-width: 300px;
  gap: 15px;

  h3,
  p {
    margin: 0;
  }
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__back {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  transform: translate(180deg);

  .card__description {
    text-align: justify;
    color: #686363;
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .card__back-header {
    display: flex;
    align-items: center;

    .card__image_back {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      font-size: 20px;
    }

    svg:hover {
      cursor: pointer;
      padding: 7px;
      border-radius: 20px;
      background-color: #ccc;
    }
  }
}

.card__front {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  // backface-visibility: hidden;

  .card__text_back {
    display: none;
  }
}

.image {
  width: 150px;
  height: 150px;
  padding: 3px;
  background: #fff;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

h3 {
  text-align: center;
}

// .rotate {
//   transform: rotateY(180deg);
// }
