.images-content__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .images-content__frame-purple {
    // height: 112px;
    height: 15vh;
    // width: 220px;
    width: 15vw;

    img {
      width: 100%;
      height: 100%;
      // object-fit: contain;
    }
  }

  .images-content__frame-boy {
    // width: 220px;
    width: 14vw;
    // height: 436px;
    height: 57vh;

    @media screen and (max-width: 700px) {
      width: 28vw;
      height: 33vh;
    }

    img {
      width: 100%;
      height: 100%;
      // object-fit: contain;
    }
  }

  .images-content__frame-horse {
    // width: 140px;
    width: 9vw;
    // height: 408px;
    height: 57vh;

    @media screen and (max-width: 700px) {
      width: 18vw;
      height: 21vh;
    }

    img {
      width: 100%;
      height: 100%;
      // object-fit: contain;
    }
  }

  .images-content__frame-pink {
    // width: 140px;
    width: 9vw;
    // height: 140px;
    height: 19vh;

    @media screen and (max-width: 700px) {
      width: 18vw;
      height: 10.5vh;
    }

    img {
      width: 100%;
      height: 100%;
      // object-fit: contain;
    }
  }

  .images-content__frame-girl {
    // width: 318px;
    width: 22vw;
    // height: 318px;
    height: 37vh;

    @media screen and (max-width: 700px) {
      width: 37vw;
      height: 24vh;
    }

    img {
      width: 100%;
      height: 100%;
      // object-fit: contain;
    }
  }

  .images-content__frame-pawn {
    // width: 318px;
    width: 22vw;
    // height: 230px;
    height: 30vh;

    @media screen and (max-width: 700px) {
      width: 37vw;
      height: 8vh;
    }

    img {
      // object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}
