.new-price-page__container {
  box-sizing: border-box;

  .new-price-page__content {
    width: 100%;
    box-sizing: border-box;
    background-color: #faf5f1;
    border-radius: 40px;
    padding: 80px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;

    @media screen and (max-width: 700px) {
      display: flex;
      flex-direction: column;
      padding: 15px 15px 30px 15px;
      gap: 20px;
    }

    .new-price-page__image-container {
      width: 100%;
      height: 100%;
      position: relative;

      @media screen and (max-width: 700px) {
        height: 260px;
      }

      .new-price-page__image {
        height: 100%;
        width: 100%;
        border-radius: 40px;
        object-fit: cover;
      }

      .new-price-page__icon {
        position: absolute;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.6);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(5px);
        display: flex;
        height: 144px;
        width: 144px;
        bottom: 25px;
        left: 20px;
        border-radius: 30px;
        padding: 22px;

        @media screen and (max-width: 700px) {
          height: 80px;
          width: 80px;
          padding: 12px;
        }
      }
    }

    .new-price-page__main-content {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .new-price-page__segmented {
        .new-price-page__segmented-component {
          .ant-segmented-group {
            display: flex;
            gap: 10px;
            background-color: white;
            border-radius: 20px;
            padding: 10px;
          }

          .ant-segmented-item-selected {
            background-color: #dce204 !important;
          }

          .ant-segmented-item {
            background-color: #faf5f1;
            border-radius: 20px;
            padding: 20px;

            @media screen and (max-width: 700px) {
              padding: 12px;
            }
          }

          .ant-segmented-item-label {
            font-family: "MontserratBold";
            font-size: 20px;
            line-height: 29px;

            @media screen and (max-width: 700px) {
              white-space: pre-line;
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }

      .new-price-page__paper-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;
        min-height: 160px;

        @media screen and (max-width: 700px) {
          min-height: 110px;
        }

        .new-price-page__main-text {
          font-family: "MontserratBold";
          font-size: 45px;
          line-height: 57px;
          margin: 0;
          white-space: pre-line;

          @media screen and (max-width: 700px) {
            font-size: 24px;
            line-height: 28px;
          }
        }

        .new-price-page__subtitle {
          font-family: "MontserratLight";
          font-size: 20px;
          line-height: 30px;
          margin: 0;
          white-space: pre-line;

          @media screen and (max-width: 700px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      .new-price-page__paper-price-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        //нужен чтобы при border блоки не увеличивались
        height: 156px;

        @media screen and (max-width: 700px) {
          height: auto;
        }

        .new-price-page__items {
          background-color: white;
          padding: 20px;
          border-radius: 12px;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          transition: 0.3s;
          max-height: 70px;
          height: 70px;
          box-sizing: border-box;

          .new-price-page__block-description {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media screen and (max-width: 700px) {
              flex-direction: column;
            }
          }

          @media screen and (max-width: 700px) {
            flex-direction: column;
            align-items: baseline;
            max-height: 92px;
            height: 92px;
          }

          .new-price-page__description {
            font-family: "MontserratLight";
            font-size: 18px;
            line-height: 28px;
            margin: 0;
          }

          .new-price-page__price {
            font-family: "MontserratBold";
            font-size: 20px;
            line-height: 29px;
            margin: 0;
          }
        }

        .new-price-page__items:hover {
          border: 2px solid black;
          transition: 0.3s;
        }

        .new-price-page__items-2 {
          background-color: white;
          border-radius: 12px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          transition: 0.3s;
          box-sizing: border-box;
          gap: 2px;
          padding: 0 20px;

          @media screen and (max-width: 700px) {
            flex-direction: column;
            align-items: baseline;
          }

          .new-price-page__block-description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @media screen and (max-width: 700px) {
              flex-direction: column;
              align-items: baseline;
              width: 100%;
              align-items: center;
            }
          }

          .new-price-page__additional-text {
            font-family: "MontserratLight";
            font-size: 14px;
            line-height: 28px;
            width: 100%;
            display: flex;
            justify-content: center;

            @media screen and (max-width: 700px) {
              width: 100%;
              line-break: auto;
            }
          }

          .new-price-page__description {
            font-family: "MontserratLight";
            font-size: 18px;
            line-height: 28px;
            margin: 0;
          }

          .new-price-page__price {
            font-family: "MontserratBold";
            font-size: 20px;
            line-height: 29px;
            margin: 0;
          }
        }

        .new-price-page__items-2:hover {
          border: 2px solid black;
          transition: 0.3s;
        }
      }

      .new-price-page__button {
        width: 100%;
        display: flex;

        .new-price-page__sign-up-btn {
          border-radius: 12px !important;
          text-transform: uppercase;
          height: 3rem;
          width: 65%;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 1px;
          font-family: "GeologicaSemiBold";
          box-shadow: none;

          @media screen and (max-width: 700px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.new-price-page__drawer {
  .ant-drawer-body {
    padding: 12px 60px;

    @media screen and (max-width: 700px) {
      padding: 0 15px 30px;
    }
  }
}

.new-price-page__dolyami {
  border: 2px #45c179 solid;
  border-radius: 40px;
  margin: 0 40px 100px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 50px;

  @media screen and (max-width: 700px) {
    margin: 24px 15px 60px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 40px;
  }

  .new-price-page__icon {
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .new-price-page__quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;

    @media screen and (max-width: 700px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 30px;
      padding-bottom: 30px;
    }

    .new-price-page__text {
      display: flex;
      text-align: justify;
      padding-left: 60px;

      @media screen and (max-width: 700px) {
        padding: 0;
      }

      p {
        margin: 0;
        font-family: "MontserratBold";
        font-size: 32px;
        line-height: 39px;
        white-space: pre-line;

        @media screen and (max-width: 700px) {
          font-size: 24px;
          line-height: 28px;
          text-align: center;
        }
      }
    }

    .new-price-page__logo {
      display: flex;
      justify-content: flex-end;

      img {
        width: 168px;
        height: 24px;
      }
    }
  }
}
