.about-us-page__container {
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  .about-us-page__content-image {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 8px solid #fff;

    @media screen and (max-width: 700px) {
      height: auto;
      box-sizing: border-box;
      padding: 0 5px;
    }

    img {
      max-width: 44vw;
      max-height: 45vh;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
      border: 8px solid #fff;

      @media screen and (max-width: 700px) {
        max-width: 100%;
      }
    }
  }

  .about-us-page__content-block {
    flex-direction: column;
    gap: 30px;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;

    @media screen and (max-width: 700px) {
      align-items: center;
      gap: 20px;
    }

    .about-us-page__content-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: initial;
      gap: 30px;

      @media screen and (max-width: 700px) {
        width: 100%;
        align-items: center;
      }
    }

    .about-us-page__card {
      display: flex;
      align-items: center;
      max-width: 90vw;

      @media screen and (max-width: 700px) {
        max-width: 100%;
        width: 90%;
        display: grid;
        grid-template-columns: 55px 1fr;
        gap: 10px;
      }

      .about-us-page__image {
        min-width: 5vw;
        min-height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .about-us-page__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8vh;

        p {
          margin: 0;
          color: #0c0531;
          font-family: Lexend, sans-serif;
          font-size: 1.5vw;
          font-style: normal;
          font-weight: 600;
          line-height: 125%;

          @media screen and (max-width: 700px) {
            font-size: 2.2vh;
          }
        }

        span {
          margin: 0;
          padding: 0;
          color: #827a7a;
          font-family: Poppins, sans-serif;
          font-size: 1.2vw;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;

          @media screen and (max-width: 700px) {
            font-size: 1.8vh;
          }
        }
      }
    }

    h2 {
      max-width: 90vw;
      text-align: initial;
      color: #0c0531;
      font-family: Lexend, sans-serif;
      font-size: 6.5vh;
      font-style: normal;
      font-weight: 700;
      line-height: 125%;
      margin: 0;

      @media screen and (max-width: 700px) {
        width: 100%;
        text-align: center;
        max-width: 100%;
        font-size: 4.1vh;
        padding: 0 20px;
        box-sizing: border-box;
      }
    }
  }
}
