.about-us-page__container {
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .about-us-page__content-image {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 8px solid #fff;

    img {
      max-width: 550px;
      max-height: 550px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
      border: 8px solid #fff;
    }
  }

  .about-us-page__content-block {
    flex-direction: column;
    gap: 30px;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;

    .about-us-page__content-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: initial;
      gap: 30px;
    }

    .about-us-page__card {
      display: flex;
      align-items: center;
      max-width: 90%;

      .about-us-page__image {
        min-width: 70px;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .about-us-page__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        p {
          margin: 0;
          color: #0c0531;
          font-family: Lexend, sans-serif;
          font-size: 25px;
          font-style: normal;
          font-weight: 600;
          line-height: 125%; /* 31.25px */
        }

        span {
          margin: 0;
          padding: 0;
          color: #827a7a;
          font-family: Poppins, sans-serif;
          font-size: 19px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 28.5px */
        }
      }
    }

    h2 {
      max-width: 90%;
      text-align: initial;
      color: #0c0531;
      font-family: Lexend, sans-serif;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%; /* 75px */
      margin: 0;
    }
  }
}
