.header {
  position: sticky;
  width: 100%;
  top: 0;
  height: 12.2vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1.2fr;
  background: white;
  align-items: center;
  z-index: 100;

  @media screen and (max-width: 700px) {
    height: 8vh;
    // display: flex;
    display: grid;
    grid-template-columns: 55px 1fr;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
  }
}

.header__image-container {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 700px) {
    height: 100%;
    width: fit-content;
    align-items: center;
    width: 80px;
  }
}

.header__image {
  // height: 9vh;
  // width: 9vw;
  height: 40px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1.8);

  @media screen and (max-width: 700px) {
    // width: 12vw;
    // height: auto;
    max-width: 40px;
    height: 30px;
  }
}

.header__image:hover {
  transition: all 0.5s ease-out;
  transform: scale(2);

  img:hover {
    transform: scale(2);
  }
}

.header__navigate-block {
  display: flex;
  align-items: center;
  gap: 2vw;
  justify-content: flex-start;
  height: 100%;
  transition: all 0.5s ease-in-out;

  .header__navigate-item {
    color: #827a7a;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-family: Lexend, sans-serif;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  .header__navigate-item:hover {
    transition: all 0.5s ease-in-out;

    background: linear-gradient(
      96deg,
      #29a354 3.79%,
      rgba(193, 67, 67, 0) 136.56%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.header__info-block {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;

  @media screen and (max-width: 700px) {
    height: 100%;
    justify-content: flex-end;
    gap: 3vh;
  }

  .header__number-phone a {
    text-decoration: none;
    color: #827a7a;
    transition: all 0.5s ease-in-out;
    font-size: 1.2vw;

    @media screen and (max-width: 700px) {
      font-size: 1.5vh;
    }
  }

  .header__number-phone a:hover {
    transition: all 0.5s ease-in-out;

    background: linear-gradient(
      96deg,
      #29a354 3.79%,
      rgba(193, 67, 67, 0) 136.56%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
