.additional-block__container {
  padding-bottom: 60px;

  @media screen and (max-width: 700px) {
    padding-bottom: 20px;
  }

  .additional-block__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .additional-block__main-text {
      display: flex;

      @media screen and (max-width: 700px) {
        text-align: left;
      }

      .additional-block__title {
        margin: 0;
        font-family: "MontserratLight";
        font-size: 20px;
        line-height: 30px;
      }
    }

    .additional-block__block-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-sizing: border-box;
      gap: 24px;

      @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
      }

      .additional-block__item-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        background-color: #faf5f1;
        border-radius: 40px;
        padding: 40px;
        box-sizing: border-box;

        .additional-block__image-container {
          display: flex;
          width: 100%;
          border-radius: 20px;
          flex: 1;
          max-height: 200px;

          @media screen and (max-width: 700px) {
            height: 250px;
          }

          img {
            width: 100%;
            border-radius: 20px;
            object-fit: cover;

            @media screen and (max-width: 700px) {
              aspect-ratio: 1/1;
            }
          }
        }

        .additional-block__with-main-content {
          flex-direction: column;
          display: flex;
          text-align: left;
          gap: 20px;
          min-height: 130px;

          .additional-block__primary {
            font-family: "MontserratBold";
            font-size: 24px;
            line-height: 29px;
            margin: 0;
          }

          .additional-block__secondary {
            font-family: "MontserratRegular";
            font-size: 18px;
            line-height: 27px;
            margin: 0;
          }
        }
      }
    }
  }
}
