.record-button__container {
  a {
    text-decoration: none;
  }

  .record-btn {
    display: flex;
    padding: 1.2vh 1.3vw;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #29a354;
    flex-shrink: 0;
    border: none;
    color: #fff;
    font-family: "RobotoRegular";
    font-size: 1.7vh;
    cursor: pointer;

    @media screen and (max-width: 700px) {
      font-size: 2vh;
      padding: 20px 30px;
    }
  }

  .record-btn:hover {
    background: linear-gradient(
      96deg,
      #29a354 3.79%,
      rgba(193, 67, 67, 0) 136.56%
    );
    transition: 0.5s;
  }
}
