.footer__container {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
  height: 30vh;

  .footer__docs {
    display: flex;
    flex-direction: column;
    gap: 2vw;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.4vw;

      @media screen and (max-width: 700px) {
        font-size: 1.9vh;
      }
    }

    :hover {
      color: green;
      transition: 0.7s;
      cursor: pointer;
    }
  }

  .footer__block {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      height: 100%;
    }
  }

  .footer__icons {
    display: flex;
    gap: 20px;
  }
}
