.sign-up-content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .sign-up-content__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    .sign-up-content__text-field {
      width: 70%;
    }
  }
  .sign-up-content__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .sign-up-content__tel {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    label {
      font-size: 12px;
      font-family: Noto Sans, sans-serif;
      font-style: normal;
      line-height: normal;
      color: grey;
    }
  }
  .sign-up-content__checkboxes {
    display: flex;
    align-items: center;
    gap: 30px;

    .checkbox_label {
      font-size: 12px;
      font-family: Noto Sans, sans-serif;
      font-style: normal;
      line-height: normal;
      color: grey;
    }
  }

  .sign-up-content__city {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    label {
      font-size: 12px;
      font-family: Noto Sans, sans-serif;
      font-style: normal;
      line-height: normal;
      color: grey;
    }
  }

  .sign-up-content__description {
    text-align: center;
    border-bottom: 1px solid #cac0c0;
    padding-bottom: 15px;

    h4 {
      margin: 10px 0;
      font-size: 16px;
      font-family: Noto Sans, sans-serif;
      font-style: normal;
      line-height: normal;
    }

    span {
      color: #827a7a;
      font-family: Noto Sans, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .sign-up-content__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;

    .sign-up-content__button {
      width: 70%;
    }

    .sign-up-content__button_btn {
      width: 70%;
      height: 36px;
      cursor: pointer;
      background-color: #2e7d32;
      color: white;
      border: none;
      font-size: 14px;
      font-family: Noto Sans, sans-serif;
      font-style: normal;
      line-height: normal;
    }
  }
}
